[Unit]
Description=Hadoop Jobhistoryserver Service

[Service]
LimitNOFILE=65535
Environment=LC_ALL=en_US.UTF-8
Environment=LANG=en_US.UTF-8
#Type=forking
Type=simple
User={{ hadoop_user }}
Group={{ hadoop_user }}
PIDFile=/tmp/hadoop-{{ hadoop_user }}-historyserver.pid
ExecStart=/etc/hadoop/bin/mapred historyserver --config /etc/hadoop
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target
